<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Example 1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/poly.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="js/ex1.js"></script>
</head>

<body ng-app="myApp" class="pt-2">
    <div class="container w-50 text-white" ng-controller="exam">
        <div class="card border-0">
            <h4 class="card-header bg-danger text-white">THÔNG TIN SINH VIÊN</h4>
            <div class="bg-dark p-sm-2">
                <form>
                    <div class="form-group">
                        <label>Họ và tên:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-dark"><i class="bi bi-person"></i></div>
                            </div>
                            <input ng-model="$parent.student.fullname" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Ngày sinh:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-dark"><i class="bi bi-calculator"></i></div>
                            </div>
                            <input ng-model="$parent.student.birthday" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Điểm:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-dark"><i class="bi bi-plus-slash-minus"></i></div>
                            </div>
                            <input ng-model="student.mark" min="0" max="10" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="save()">Lưu thay đổi</button>
                        <button class="btn btn-danger" ng-click="cancel()">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-white">
            <table class="table table-bordered table-dark">
                <tr class="bg-danger text-center">
                    <th>Họ và tên</th>
                    <th>Ngày sinh</th>
                    <th>Điểm</th>
                    <th>#</th>
                </tr>
                <tr ng-repeat="sv in students">
                    <td>{{sv.fullname}}</td>
                    <td class="text-center">{{sv.birthday}}</td>
                    <td class="text-center">{{sv.mark}}</td>
                    <td class="text-center">
                        <a href="#" ng-click="edit($index)">Sửa</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</body>

</html>