<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bài 2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/poly.css">
</head>

<body>
    <div class="container" ng-app="myApp" ng-controller="myctrl">
        <div class="bg-dark mt-2">
            <h4 class="text-white bg-primary p-3"><i class="bi bi-list"></i> QUẢN TRỊ THỂ LOẠI</h4>
            <div class="row">
                <div class="col-8 pr-1">
                    <table class="table table-bordered text-white">
                        <tr class="text-center">
                            <td>ID</td>
                            <td>Tên TL</td>
                            <td>Thứ tự</td>
                            <td>Tên KD</td>
                            <td>Số tin</td>
                            <td>Phụ trách</td>
                            <td>Ẩn/Hiện</td>
                            <td>#</td>
                        </tr>
                        <tr ng-repeat="tl in list">
                            <td class="text-center">{{tl.idTL}}</td>
                            <td>{{tl.TenTL|uppercase}}</td>
                            <td class="text-center">{{tl.ThuTu}}</td>
                            <td class="text-center">{{tl.TenKD == "" ? "Chưa có" : tl.TenKD}}</td>
                            <td class="text-center">{{tl.SoTin}}</td>
                            <td class="text-center">{{tl.PhuTrach == "" ? "Không rõ" : tl.PhuTrach}}</td>
                            <td class="text-center">
                                <span ng-if="tl.AnHien == 0">Đang ẩn</span>
                                <span ng-if="tl.AnHien == 1">Đang hiện</span>
                            </td>
                            <td class="text-center"><button ng-click="edit($index)"
                                    class="btn btn-primary pt-0 pb-0">></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-4 pl-1">
                    <div class="card-body pt-2" style="background-color: #211325;border: 1px solid white;">
                        <div class="h4">Chỉnh thể loại</div>
                        <form name="frmThemTL">
                            <div class="form-group">
                                <label>Tên thể loại</label>
                                <input name="tentl" ng-model="tlhientai.TenTL" ng-minlength="3" ng-maxlength="20"
                                    class="form-control" required>
                                <div ng-show="frmThemTL.tentl.$invalid" class="badge badge-danger font-italic">
                                    Nhập tên thể loại từ 3 đến 25 ký tự
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Thứ tự</label>
                                <input name="thutu" ng-model="tlhientai.ThuTu" ng-pattern="/^\d{1,2}$/" ng-min="1"
                                    ng-max="23" class="form-control" required>
                                <div ng-show="frmThemTL.thutu.$invalid" class="badge badge-danger font-italic">
                                    Số thứ tự từ 1 đến 23
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tên TL không dấu</label>
                                <input name="tenkd" ng-model="tlhientai.TenKD" ng-pattern="/^[a-zA-Z0-9-]*$/"
                                    class="form-control" required>
                                <div ng-show="frmThemTL.tenkd.$invalid" class="badge badge-danger font-italic">
                                    Tên thể loại không dấu chỉ có chữ, số và dấu -
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Số tin</label>
                                <input name="sotin" ng-model="tlhientai.SoTin" ng-pattern="/^[1-9]*$/" min="1"
                                    class="form-control" required>
                                <div ng-show="frmThemTL.sotin.$invalid" class="badge badge-danger font-italic">
                                    Số tin là số nguyên > 0
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Ẩn / Hiện:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="form-check-inline">
                                    <input name="anhien" ng-model="tlhientai.AnHien" class="form-check-input"
                                        type="radio" value="0">
                                    <label class="form-check-label">Ẩn</label>&nbsp;&nbsp;&nbsp;
                                    <input name="anhien" ng-model="tlhientai.AnHien" class="form-check-input"
                                        type="radio" value="1">
                                    <label class="form-check-label">Hiện</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Người phụ trách</label>
                                <select name="username" class="form-control" ng-model="tlhientai.PhuTrach">
                                    <option value="{{u.phutrach}}" ng-repeat="u in listuser">{{u.hoten}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" ng-click="save()" ng-disabled="frmThemTL.$pristine"><i
                                        class="bi bi-save"></i> LƯU</button>
                                <button class="btn btn-danger" ng-click="clear()"><i class="bi bi-x-circle"></i>
                                    HUỶ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="js/theloai.js"></script>
    <script src="js/ex2.js"></script>
</body>

</html>