<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bài 3</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/poly.css">
</head>

<body>
    <div class="container" ng-app="myApp" ng-controller="myctrl">
        <div class="bg-dark mt-2">
            <h5 class="text-white bg-primary p-3 m-0">
                <i class="bi bi-list"></i> BÁN HÀNG GIẢI KHÁT
                <span class="float-right">Hôm nay, {{homnay}}</span>
            </h5>
            <table class="table table-bordered text-white m-0">
                <tr class="text-center">
                    <th scope="col">
                        <input type="checkbox" ng-model="all">
                    </th>
                    <th scope="col">TÊN HÀNG</th>
                    <th scope="col">SỐ LƯỢNG</th>
                    <th scope="col">ĐƠN GIÁ</th>
                    <th scope="col">THÀNH TIỀN</th>
                    <th scope="col">KHUYẾN MÃI</th>
                    <th scope="col">CÒN LẠI</th>
                </tr>
                <tr ng-repeat="sp in sanpham|orderBy:'-price'" ng-init="sp.quantity = 0">
                    <td class="text-center">
                        <input type="checkbox" ng-model="sp.buy" ng-checked="all">
                    </td>
                    <td>{{sp.name|uppercase}}</td>
                    <td>
                        <div class="form-outline">
                            <input type="number" ng-model="sp.quantity" ng-disabled="!sp.buy" min="0" max="25"
                                class="form-control text-center" required />
                            <i ng-if="sp.quantity < 0 || sp.quantity > 25" class="bi bi-info-circle"></i>
                            <span ng-show="sp.quantity < 0 || sp.quantity > 25" class="form-helper">Nhập số lượng
                                từ 1 đến 25</span>
                        </div>
                    </td>
                    <td class="text-center">{{sp.price|number}}</td>
                    <td class="text-center">{{sp.price*sp.quantity|number}}</td>
                    <td class="text-center">{{khuyenMai(sp.quantity)|number}}</td>
                    <td class="text-center">{{(sp.price*sp.quantity)-khuyenMai(sp.quantity)|number}}</td>
                </tr>
            </table>
            <div class="p-3 border border-info text-white h5">
                TỔNG TIỀN: {{tongTien()}} VNĐ
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="js/sanpham.js"></script>
    <script src="js/ex3.js"></script>
</body>

</html>