* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #15212c;
}

header {
    background: #412547;
}

article, aside {
    background: #fff;
}

footer {
    background: #000;
    color: #fff;
}

a:link {
    text-decoration: none;
}

.img {
    width: 20px;
    height: 20px;
    margin-top: -3px;
    color: #fff;
}

.img-carousel {
    padding: 5rem;
    background-color: #412c2c27;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    width: 15%;
}

.img-product {
    padding-top: 10px;
    width: 85%;
    margin: 0 auto;
}

.right {
    float: right;
    margin-top: 0.3em;
}

.card-body p {
    line-height: 1.5em;
    height: 4.5em;
    overflow: hidden;
}

.card-body p::before {
    content: '...';
    float: right;
    margin-top: 3em;
}

.jumbotron {
    background: #242134 linear-gradient(to right, #9E9AB4, #242134);
}

/* LOGO TEXT */
@import 'bourbon';

.logo {
    color: #f13131;
    font: 1.5em Impact;
    animation: fadeWhite 1s forwards;
    position: relative;
    user-select: none;
}

.logo:after {
    content: 'NghienStore';
    position: absolute;
    left: 2px;
    top: 2px;
    clip: rect(0, 900px, 0, 0);
    color: white;
    animation: glitch 5s infinite alternate-reverse;
}

@keyframes fadeWhite {
    100% {
        color: white;
    }
}

@keyframes glitch {
    0% {
        clip: rect(23px, 9999px, 23px, 0);
    }

    5% {
        clip: rect(83px, 9999px, 89px, 0);
    }

    10% {
        clip: rect(55px, 9999px, 46px, 0);
    }

    15% {
        clip: rect(2px, 9999px, 39px, 0);
    }

    20% {
        clip: rect(94px, 9999px, 100px, 0);
    }

    25% {
        clip: rect(39px, 9999px, 59px, 0);
    }

    30% {
        clip: rect(39px, 9999px, 8px, 0);
    }

    35% {
        clip: rect(9px, 9999px, 76px, 0);
    }

    40% {
        clip: rect(57px, 9999px, 3px, 0);
    }

    45% {
        clip: rect(39px, 9999px, 61px, 0);
    }

    50% {
        clip: rect(60px, 9999px, 54px, 0);
    }

    55% {
        clip: rect(45px, 9999px, 41px, 0);
    }

    60% {
        clip: rect(67px, 9999px, 91px, 0);
    }

    65% {
        clip: rect(51px, 9999px, 22px, 0);
    }

    70% {
        clip: rect(18px, 9999px, 21px, 0);
    }

    75% {
        clip: rect(24px, 9999px, 41px, 0);
    }

    80% {
        clip: rect(18px, 9999px, 83px, 0);
    }

    85% {
        clip: rect(94px, 9999px, 72px, 0);
    }

    90% {
        clip: rect(1px, 9999px, 26px, 0);
    }

    95% {
        clip: rect(88px, 9999px, 43px, 0);
    }

    100% {
        clip: rect(38px, 9999px, 16px, 0);
    }
}

/* NAVBAR */
.ftco-navbar-light {
    background: #202040 !important;
    z-index: 3;
    padding: 0;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light {
        position: relative;
        top: 0;
        padding: 10px 15px;
    }
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
        padding-bottom: 10px;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 12px;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #f13131;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    z-index: -1;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    color: #fff;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover:before {
    visibility: visible;
    background-color: #f13131;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-top: .5rem;
        padding-bottom: .5rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
        color: #fff;
    }

    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover:before {
        display: none;
    }

    .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
        background: #202040 !important;
    }

    .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu > .dropdown-item {
        color: #fff !important;
    }
    .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu > .dropdown-item:hover {
        color: #f13131 !important;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
    border: none;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    border-radius: 4px;
    margin-top: -5px;
}


.ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    color: #fff;
    background: #f13131;
    border-radius: 0px;
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
    color: #fff;
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a:before {
    visibility: visible;
    background-color: #f13131;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item.active>a {
        color: #f13131;
    }

    .ftco-navbar-light .navbar-nav>.nav-item.active>a:before {
        display: none;
    }
}

.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

/* ScrollBar */
@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 4px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #0ae;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: #fffdff;
    }
}