* {
    padding: 0px;
    margin: 0px;
}

/* ScrollBar */
@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 4px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #0ae;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: #fffdff;
    }
}

body {
    background-color: #192039 !important;
}

.bg-dark, thead th {
    color: #b9c0d3;
    background-color: #1c233f !important;
}

.img {
    width: 15px;
    height: 15px;
    margin-top: -3px;
}

.img1 {
    margin-top: -5px;
}

thead th {
    text-align: center !important;
    vertical-align: middle !important;
    background-color: rgb(56, 56, 53);
}

.form-control {
    background-color: transparent !important;
    border: 1px solid #1f4060;
    color: rgb(243, 243, 243);
}

.form-control:focus {
    color: inherit;
    box-shadow: 0 0 0 0.2rem rgb(68 139 255 / 25%);
}

.form-control:not(.is-valid):not(.is-invalid):focus {
    border-color: #448bff;
}

.form-control select {
    background-color: rgb(34, 47, 75);
    color: rgb(243, 243, 243);
}

.form-control option {
    background-color: rgb(34, 47, 75);
    color: rgb(243, 243, 243);
    border: inherit;
}
.nav-tabs {
    border-bottom: unset;
}

.nav-tabs:hover {
    border-color: inherit;
}
.nav-tabs .nav-link {
    border: unset;
}
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #448bff;
    border-color: unset;
}

.nav-tabs .nav-link:hover {
    border-color: unset;
}