* {
    padding: 0px;
    margin: 0px;
}

/* ScrollBar */
@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 4px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #0ae;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: #fffdff;
    }
}

body {
    background-color: #15212c;
}

header {
    background: #5bc0de;
}

article, aside {
    background: #eee;
}

footer {
    background: rgb(0, 0, 0);
    color: white;
}

img {
    width: 300px;
}

.bg-dark {
    color: #b9c0d3;
    background-color: #1c233f !important;
}

.form-control {
    background-color: transparent !important;
    border: 1px solid #1f4060;
    color: rgb(243, 243, 243);
}

.form-control:focus {
    color: inherit;
    box-shadow: 0 0 0 0.2rem rgb(68 139 255 / 25%);
}

.form-control:not(.is-valid):not(.is-invalid):focus {
    border-color: #448bff;
}

.form-control select {
    background-color: rgb(34, 47, 75);
    color: rgb(243, 243, 243);
}

.form-control option {
    background-color: rgb(34, 47, 75);
    color: rgb(243, 243, 243);
    border: inherit;
}